<app-cabecera></app-cabecera>

<div class="container text-center mt-5 mb-5">
  <h1 class="display-1 animate__animated animate__bounce">404</h1>
  <p class="lead animate__animated animate__fadeInUp">Página No Encontrada</p>
  <p class="animate__animated animate__fadeInUp animate__delay-1s">
    Lo sentimos, la página que buscas no existe o fue movida.
  </p>
  <img src="./assets/img/error404.gif" alt="Error 404" width="300px" /><br />
  <a
    href="/"
    class="btn btn-primary animate__animated animate__fadeInUp animate__delay-2s"
  >
    Volver al Inicio
  </a>
</div>

<app-pie></app-pie>
